<div class="col-md-3 col-sm-6" onclick="link('{detallesUrl}')">
    <div class="property" >
        <a>
            <div class="property-image">
                <img alt="" src="{imgPortada}" >
            </div>
            <div class="overlay">
                <div class="info">
                    <div class="tag price">${costo}</div>
                    <h3>{colonia}</h3>
                    <figure>{calle}{numero}</figure>
                </div>
               <!--
                <ul class="additional-info">
                    <li>
                        <header>Area:</header>
                        <figure>240m<sup>2</sup></figure>
                    </li>
                    <li>
                        <header>Beds:</header>
                        <figure>3</figure>
                    </li>
                    <li>
                        <header>Baths:</header>
                        <figure>1</figure>
                    </li>
                    <li>
                        <header>Garages:</header>
                        <figure>1</figure>
                    </li>
                </ul>
               --> 
            </div>
        </a>
    </div><!-- /.property -->
</div><!-- /.col-md-3 -->