include parcial/head
link(rel="stylesheet" type="text/css" href="/publico/app-assets/css/plugins/forms/wizard.css")
link(rel="stylesheet" type="text/css" href="/publico/app-assets/css/plugins/file-uploaders/dropzone.css")
link(rel="stylesheet" type="text/css" href="/publico/app-assets/vendors/css/forms/select/select2.min.css")
link(rel="stylesheet" type="text/css" href="/publico/app-assets/vendors/css/file-uploaders/dropzone.min.css")
link(href="/publico/assets/css/mapa.min.css", rel="stylesheet")

// BEGIN: Body
body.vertical-layout.vertical-menu-modern.2-columns.navbar-floating.footer-static(data-open="click" data-menu="vertical-menu-modern" data-col="2-columns")
	
    include parcial/mainMenu
    include parcial/contentNuevaUbicacion
    .sidenav-overlay
    .drag-target
    include parcial/footer
    include parcial/js
    script(src="/publico/app-assets/vendors/js/extensions/dropzone.min.js")
    //END: Page Vendor JS-->
    script(src="/publico/app-assets/vendors/js/forms/select/select2.full.min.js")
    script(src="/publico/app-assets/vendors/js/extensions/jquery.steps.min.js")
    script(src="/publico/app-assets/vendors/js/forms/validation/jquery.validate.min.js")
    include parcial/googleMaps
    script(src='/publico/assets/js/mainMapa.min.js')
    script(src='/publico/assets/js/nuevaUbicacion.min.js')