include parcial/head
// BEGIN: Body
body.vertical-layout.vertical-menu-modern.2-columns.navbar-floating.footer-static(data-open="click" data-menu="vertical-menu-modern" data-col="2-columns")
    include parcial/mainMenu
    include parcial/contentPerfil
    .sidenav-overlay
    .drag-target
    include parcial/footer
    include parcial/js

    script(src="/publico/assets/js/perfil.min.js")