include parcial/head
// BEGIN: Body
body.vertical-layout.vertical-menu-modern.2-columns.navbar-floating.footer-static(data-open="click" data-menu="vertical-menu-modern" data-col="2-columns")
    include parcial/mainMenu
    include parcial/contentSingin
    .sidenav-overlay
    .drag-target
    include parcial/footer
    include parcial/js
    script(src="../publico/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js")
    script(src="../publico/app-assets/js/scripts/forms/validation/form-validation.js")
    script(src="../publico/assets/js/registrarse.min.js")
    script(src='../../publico/assets/js/funciones.min.js')
    script(src='../../publico/assets/js/location.min.js')

