// BEGIN: Content
.app-content.content
  include header
  .content-wrapper
    .content-header.row
      .content-header-left.col-md-9.col-12.mb-2
        .row.breadcrumbs-top
          .col-12
            h2.content-header-title.float-left.mb-0(data-i18n='Publicar') Publicar
            .breadcrumb-wrapper.col-12
              ol.breadcrumb
                |&nbsp;
    .content-body
      //include modalAlert
      .content-body
        include contentNuevaUbicacion_content

// END: Content
