// Form wizard with step validation section start
section#validation
  .row
    .col-md-8.col-sm-12
      .card
        .card-header
          h4.card-title(data-i18n='NUEVO ANUNCIO') Nuevo anuncio
        .card-content.data-items
          .card-body
            include modalAlert
            form#add-new-data-sidebar.steps-validation.wizard-circle
              // Step 1
              h6
                i.step-icon.feather.icon-home
                  h5(data-i18n='paso1') Paso 1
              fieldset
                br
                br
                .row
                    h5.semi-bold
                      | Paso 1 - 
                      span.light Cuentanos, &iquest;Que quieres anunciar?
                    .col-md-10
                      label(data-i18n='Título') Título
                      .form-group.has-icon-left.input-divider-left.position-relative
                        input.form-control(required name='titulo' type='text' placeholder='Título')
                        .form-control-position
                          i.feather.icon-file
                    .col-md-12
                      fieldset.mb-0
                        label(for='textarea-counter' data-i18n='Descripción') Descripción
                        textarea#textarea-counter.form-control.char-textarea.active.max-limit(required data-length='1000' rows='3' placeholder='Descripción' style='color: rgb(234, 84, 85); ' name='descripcion')
                      small.counter-value.float-right(style='background-color: rgb(115, 103, 240);')
                        span.char-count 0
                        |  / 1000
                .row
                    .col-md-6
                        
                        label(for='textarea-counter' data-i18n='Categoria') Categoria
                        select#select2-icons.select2-icons.form-control(name="categoria"  v-model="selectedOption" required @change="")
                          option(value='Automoviles' data-icon='fa fa-car' selected='' data-i18n='Automoviles' ) Automóviles
                          option(value='Bicicletas' data-icon='fa fa-bicycle' data-i18n='Bicicletas' ) Bicicletas
                          option(value='Bebes' data-icon='fa fa-baby' data-i18n='Bebes' ) Bebes
                          option(value='Celulares' data-icon='fa fa-mobile' data-i18n='Celulares' ) Celulares
                          option(value='Computadoras' data-icon='fa fa-laptop' data-i18n='Computadoras' ) Computadoras
                          option(value='Deportes' data-icon='fa fa-running' data-i18n='Deportes' ) Deportes
                          option(value='Electrónicos' data-icon='fa fa-plug' data-i18n='Electrónicos' ) Electrónicos
                          option(value='Casa y jardin' data-icon='fa fa-home' data-i18n='Casa y jardin' ) Casa y jardin
                          option(value='Herramientas' data-icon='fa fa-tools' data-i18n='Herramientas' ) Herramientas
                          option(value='Motocicletas' data-icon='fa fa-motorcycle' data-i18n='Motocicletas' ) Motocicletas
                          option(value='Oficina' data-icon='fa fa-building' data-i18n='Oficina' ) Oficina
                          option(value='Ropa y calzado' data-icon='fa fa-tshirt' data-i18n='Ropa y calzado' ) Ropa y calzado
                          option(value='Servicios Generales' data-icon='fa fa-user-tie' data-i18n='Servicios Generales' ) Servicios Generales
                          option(value='Videojuegos' data-icon='fa fa-gamepad' data-i18n='Videojuegos' ) Video juegos
                          option(value='Varios' data-icon='fa fa-bookmark' data-i18n='Varios' ) Varios
                    .col-md-6
                      fieldset
                        label(data-i18n='Precio') Precio
                        .form-group.has-icon-left.input-divider-left.position-relative
                          input.form-control(required name='precio' type='number' placeholder='Precio')
                          .form-control-position
                            i.fas.fa-dollar-sign 
              // Step 2
              h6
                i.step-icon.feather.icon-camera
                  h5(data-i18n='paso2') Paso 2
              fieldset
                br
                br
                .row
                  h4.semi-bold
                  | Step 2 - 
                  span.light Compartenos alguna imagen de &iquest;Como se ve?

                  .col-md-12
                    #portadaForm.dropzone.dropzone-area(action="/api/nuevoAnuncio_photos" style="padding: 0;")
                      .dropzone-previews.dz-message(data-i18n='Subir imagen') Subir imagen
                    input#foto.form-control.no-boarder(required type='text' name='numeroDefotos' style='visibility:hidden;height: 0px;padding: 0px;')
                    input#imgPortada(required type='text' name='imgPortada' style='visibility:hidden;height: 0px;padding: 0px;')
                br

    include publicidad_baner_vertical

// Form wizard with step validation section end