// BEGIN: Footer
footer.footer.footer-static.footer-light
  p.clearfix.blue-grey.lighten-2.mb-0
    span.float-md-left.d-block.d-md-inline-block.mt-25
      | COPYRIGHT &copy; 2019
      a.text-bold-800.grey.darken-2(href='../../../../themeforest.net/user/pixinvent/portfolioc32a.html?ref=pixinvent' target='_blank') Pixinvent,
      | All rights Reserved
    span.float-md-right.d-none.d-md-block
      | Hand-crafted &amp; Made with
      i.feather.icon-heart.pink
    button.btn.btn-primary.btn-icon.scroll-top(type='button')
      i.feather.icon-arrow-up
// END: Footer
#alertaModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal') &times;
            h4.modal-title Alerta
          .modal-body
            article#alertaContenido mensaje de alerta, quien lo usa??? identifiquese
                
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Cerrar