.col-md-2.col-sm-12
    .card
      .card-header
        h4.card-title Publicidad
      .card-content.collapse.show
        .card-body
          .row
            .col-sm-12(style='    height: -webkit-fill-available;')
              img.lateral_seccion.center-block(style='background-image: url("https://www.ensenadahoy.com/pub/banners/81D-1504208395.gif");     height: 774px;float: none; list-style: none; position: absolute;  width: 163px;')
